<div class="col-md-6" style="margin: 0 auto;">
  <div class="card card-container" style="border: none;">
    <h1 style="margin: 20px 0; text-align: center; font-size: 36px; font-weight: 700;">Registration</h1>
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="firstname">FirstName</label>
        <input type="text" name="firstname" [(ngModel)]="form.firstname" #firstname="ngModel" class="form-control"
          required>
        <div class="alert" *ngIf="firstname.errors && f.submitted" style="color: red;padding: 8px 0px;">
          <div *ngIf="firstname.errors.required">FirstName is required</div>
        </div>

      </div>
      <div class="form-group">
        <label for="lastname">LastName</label>
        <input type="text" name="lastname" [(ngModel)]="form.lastname" #lastname="ngModel" class="form-control"
          required>
        <div class="alert" *ngIf="lastname.errors && f.submitted" style="color: red;padding: 8px 0px;">
          <div *ngIf="lastname.errors.required">LastName is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" [(ngModel)]="form.email" #email="ngModel" class="form-control" email required>
        <div class="alert" *ngIf="email.errors && f.submitted" style="color: red;padding: 8px 0px;">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="form.password" #password="ngModel" class="form-control" required>
        <div class="alert" *ngIf="password.errors && f.submitted" style="color: red;padding: 8px 0px;">
          <div *ngIf="password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="dob">DOB</label>
        <input type="date" id="dob" name="dob" [(ngModel)]="form.dob" #dob="ngModel" class="form-control" required>
        <div class="alert" *ngIf="dob.errors && f.submitted" style="color: red;padding: 8px 0px;">
          <div *ngIf="dob.errors.required">DOB is required</div>
        </div>
      </div>
      <div class="form-group">
        <button class="col-md-2 float-right btn btn-primary btn-block">Sign Up</button>
      </div>
      <div class="alert" *ngIf="f.submitted && isSignUpFailed" style="color: grey; padding: 8px 0px;">
        Signup failed!<br /> {{errorMessage}}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>